version: "3.9"

services:
  redis:
    image: redis:7
    container_name: job_redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15
    container_name: job_postgres
    environment:
      POSTGRES_USER: jobuser
      POSTGRES_PASSWORD: jobpass
      POSTGRES_DB: jobdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
